body {
    background-color: #101010;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: x-large;
    color: #e0e0e0;
}

.container {
    text-align: center;
    margin-top: 150px;
}

.buttons {
    text-align: center;
}

button {
    background-color: #202020;
    color: #e0e0e0;
    font-size: large;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border-color: #e0e0e0;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    background-color: #353535;
    color: #ffffff;
    border-color: #ffffff;
    transition: all 0.5s ease;
}